<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Johnathan Scheulen</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

{% extends 'header.html' %}
{% load static %}

{% block content %}
<div class="container-fluid text-center mt-5" >
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <span style="font-size: 40px; font-weight: bold;">Software Developer</span>
                <span style="font-weight: bold;font-size: 50px;">Johnathan Scheulen</span>
            </div>
            <div class="row mt-2 p-2" style="font-size: 14px;">
                <p>Full Stack Python - Django & Microsoft Power Platform</p>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary m-1 rounded-4" href="https://www.linkedin.com/in/johnathan-scheulen-209564256" style="width:120px">Linkedin &#129030</a>
                    <a class="btn btn-primary m-1 rounded-4" style="width:120px">GitHub &#129030</a>
                </div>
            </div>
            <div class="row">
                <div class="col pt-2" style="font-size: 30px; color:grey">
                    <i class='bx bxl-python'></i>
                    <i class='bx bxl-django'></i>
                    <i class='bx bxl-microsoft'></i>
                    <i class='bx bxl-postgresql'></i>
                    <i class='bx bxl-javascript'></i>
                    <i class='bx bxl-html5'></i>
                    <i class='bx bxl-bootstrap'></i>
                    <i class='bx bxl-github'></i>
                </div>
            </div>
        </div>

    </div>

</div>

<section class="py-5 mb-5 mt-5 shadow">
    <div class="container">
        <div class="row text-center pb-5">
            <b style="font-weight: bold;font-size: 35px;" class="col-md-6 m-auto">Trabajos Recientes</b>
        </div>
        <div class="row gy-5 mb-4">
            <div class="col-md-4 mb-3">
                <a href="#" class="card border-0 shadow-lg" id="carta1">
                    <img class="card-img" style="opacity: 0.5;" src="{% static 'lib/adminelt/img/avatar.png' %}" alt="">
                    <div class="nuevo card-img-overlay d-flex align-items-end">
                        <div class="text-start mb-3 ml-3 text-dark">
                            <h2 class="card-title texto1">Primer Proyecto</h2>
                            <p class="card-text texto1">Se realizo de esta manera</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function(){
        $('.card').on('mouseover', function(){
            $('.nuevo').animate({
                bottom: '100px'
            });
            $(".texto1").css("color", "#ffff");

        });
        $('.card').on('mouseleave', function(){
            $('.nuevo').animate({
                bottom: '0px',
            });
            $(".texto1").css("color", "#000000");
        });
    });

</script>

{% endblock %}

</html>