<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Johnathan Scheulen</title>
</head>

{% extends 'header.html' %}
{% load static %}

{% block content %}
<div class="container-fluid text-center mt-5" >
    <div class="row">
        <div class="col-xl-12">
            <div class="row">
                <span style="font-size: 40px; font-weight: bold;">Software Developer</span>
                <span style="font-weight: bold;font-size: 50px;">Johnathan Scheulen</span>
            </div>
            <div class="row mt-2 p-2" style="font-size: 14px;">
                <p>Full Stack Python - Django & Microsoft Power Platform</p>
            </div>
            <div class="row">
                <div class="col">
                    <a class="btn btn-primary m-1 rounded-4" href="https://www.linkedin.com/in/johnathan-scheulen-209564256" style="width:120px">Linkedin &#129030</a>
                    <a class="btn btn-primary m-1 rounded-4" style="width:120px">GitHub &#129030</a>
                </div>
            </div>
            <div class="row">
                <div class="col pt-2" style="font-size: 30px; color:grey">
                    <i class='bx bxl-python'></i>
                    <i class='bx bxl-django'></i>
                    <i class='bx bxl-microsoft'></i>
                    <i class='bx bxl-postgresql'></i>
                    <i class='bx bxl-javascript'></i>
                    <i class='bx bxl-html5'></i>
                    <i class='bx bxl-bootstrap'></i>
                    <i class='bx bxl-github'></i>
                </div>
            </div>
        </div>

    </div>

</div>


{% endblock %}

</html>